/*home*/
/*partner logo*/
.partner .row {
	border-bottom: 0.5px solid #d5d5d5;
}
.partner .row:last-child{
	border: none;;
}
.partner .row > div{
	width: calc(100%/7);
	height: 100px;
	padding:  1em;
	position: relative;
}
.partner .row .logo{
	border-right: 1px solid #d5d5d5;
}
.partner .row .logolast{
	border:none;
}
@media only screen and (max-width: 1024px)
{
	.partner .row > div{
		width: calc(100%/5);
	}
	.partner .row .blank{
		display: none;
	}
	.partner .row .logo-3{
		width: calc(100%/3);
	}
}
@media only screen and (max-width: 922px){
	.partner .row .logo-3{
		width: calc(100%/3);
	}
	.partner .row .blank2 {
		display: none;
	}
}
@media only screen and (max-width: 768px){
	.partner .row {
		border-bottom: none;
	}
	.partner .row > div{
		width: 100%;
		height: 100px;
		border: 1px solid #d5d5d5;
		margin: 1.5em 2em;
		border-radius: 5px; 
	}
	.partner .row .logolast{
		border: 1px solid #d5d5d5;
	}
	.partner .row .logo-3{
		width: 100%;
	}

}

.partner .row div.logo img{
	width: 100%;
	position: relative;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	filter: grayscale(100%);
	transition: 0.5s;
}
@media only screen and (max-width: 768px){
	.partner .row div.logo img{
		height: 100%;
		width: auto;
	}
}
.partner .row div.logo img:hover{
	filter: grayscale(0%);	
}

/*team*/
.team {
	background: #f5f9fc;
}
.team h4{
	text-align: center;
	padding: 1em;
	font-size: 43px;
}
.team .row .member {
	padding: 1em;
}
.team .row .member figure{
	border-radius: 10px;
	background: #fff;
	overflow: hidden;
	background-color: red;
	position: relative;
	width: 100%;
	padding-top: 60%; 
}
.team .row .member figure::-webkit-scrollbar {
	display: none;
}
.team .row .member figure img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	transition: .3s ease-in-out;
}
.team .row .member:hover figure  img{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.team .row .member figure::after {
	content: "";
	width: 0%;
	height: 0%;
	transform: translate(-50%,-50%);
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	background:#7FFFD4;
	z-index: 100;
	transition: .3s ease-in-out;
	opacity: 0;
}
.team .row .member:hover figure::after{
	opacity: 0.3;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	width: 150%;
	height: 150%;
}
.team .row .member h5,.team .row .member h6{
	text-transform: uppercase;
	text-align: center;
	margin-top: 1em;
	font-weight: 400;
}
.team .row .member h6{
	color: red;
}
/*home */
.activitys {
	margin-top: 2.5em;
}
.activitys h4 {
	text-align: center;
	font-size: 43px;
}
.activitys .owl-carousel{
	margin-top: 2em;
}
.activitys .owl-carousel figure{
	background: #fff;
	overflow: hidden;
	position: relative;
	width: 100%;
	padding-top: 60%; 
	margin:0 50%;
}
.activitys .owl-carousel img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	padding: 0.5em;
}
.activitys .owl-carousel .owl-dots .owl-dot{
	outline: none;
}
.activitys .owl-carousel .owl-dots .owl-dot span{
	width: 8px;
	height: 8px;
}
.activitys .owl-carousel .owl-dots .owl-dot.active span{
	background: #bd2130;
} 
.activitys .owl-nav{
	display: flex;
	position: absolute;
	top: 35%;
	width: 100%;
	justify-content: space-between;
}
.activitys .owl-nav button {
	background: white !important;
	width: 50px;
	height: 50px;
	border-radius: 50% !important;
	outline: none;
	position: relative;
	background-image: url('img/icons/left.png') !important;
	background-size: cover;
	color: blue;
}
.activitys .owl-nav button span{
	line-height: 50px;
	color: gray;
	font-weight: 700;
	font-size: 50px;
	transform: scale(3.0);
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	opacity: 0;
}
